/*
*	WEB222 – Assignment 2
*	Name: Parva Jitendrakumar Patel
*	Student ID: 116635202 
*	Date: July 07, 2021
*/

body {
    margin: 0;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}
.top-main ul li {
    padding-right: 20px;
}
.top-main ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.top-main ul li a {
    font-size: 18px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    transition: 0.3s all;
}
.header-main {
    background-color: red;
    padding: 40px 0;
    position: absolute;
    width: 100%;
}
.top-main ul li a:hover {
    border-bottom: 2px solid;
}
.site-hero {
    background-image: url(../img/adventure.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}
.site-hero h1 {
    color: white;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.site-hero p {
    color: white;
    font-size: 28px;
    font-family: 'Roboto';
    margin: 0;
}
.site-hero .container {
    padding-top: 40px;
}
.footer {
    background-color: red;
    text-align: center;
}
.footer p {
    color: white;
    margin: 0;
    padding: 20px 0;
    font-family: 'Roboto';
    font-size: 18px;
}
.footer a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.adventures-main-boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.adventures {
    width: 23%;
    margin: 10px;
    box-shadow: 0 0 14px #cecece;
    border-radius: 5px;
    transition: 0.3s all;
    min-height: 400px;
}
.adventures:hover {
    transform: scale(1.05);
}
.adventures img {
    object-fit: cover;
    max-width: 400px;
    height: 250px;
    width: 100%;
}
.our-adventures-section h2 {
    text-align: center;
    font-size: 34px;
    font-family: 'Roboto';
    margin: 0;
    padding-bottom: 20px;
    color: red;
}
.adventures h3 {
    margin: 0;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto';
    color: red;
}
.adventures p {
    margin: 0;
    padding: 10px;
    padding-top: 0;
    font-family: 'Roboto';
    padding-bottom: 20px;
    font-size: 16px;
}
.our-adventures-section {
    margin: 50px 0;
}
.adventures p span {
    font-weight: 600;
}
.adventures-btn {
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    background-color: red;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    transition: 0.3s all;
}
.adventures-btn:hover {
    color: red;
    background-color: white;
    border: 1px solid red;
}